[submodule "assets/scientific-lit-embeddings"]
	path = assets/scientific-lit-embeddings
	url = https://github.com/georgetown-cset/scientific-lit-embeddings.git
[submodule "fastText"]
	path = go/fastText-cpp
	url = https://github.com/facebookresearch/fastText

