/en_field_entity_similarity.pkl
/en_field_fasttext_similarity.pkl
/en_field_tfidf_similarity.pkl
/data/wiki.db-shm
/data/wiki.db-wal
/en_field_fasttext.npz
/en_field_tfidf.npz
/en_vectors.npz
/zh_field_fasttext.npz
/zh_field_tfidf.npz
/field_pages.json
