/en_entity_trie.pkl
/en_field_entity_similarity.pkl
/en_field_fasttext_similarity.pkl
/en_field_tfidf_similarity.pkl
/zh_entity_trie.pkl
/zh_field_entity_similarity.pkl
/zh_field_vectors.pkl
/zh_field_tfidf_similarity.pkl
/zh_tfidf.pkl
/zh_field_tfidf_vectors.json
/zh_fasttext.bin
/en_field_keys.txt
/en_merged_model_120221.bin
/id2word_dict_en_merged_sample.txt
/tfidf_model_en_merged_sample.pkl
